<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>commanlist Questions</h1>
    <form action="/thanks" method="POST" enctype="multipart/form-data">
        <div class="row-tab">
            <div class="label-tab">
          <label for="food">What is your favorite food?</label>
        </div>
        <div class="input-tab">
          <input type="text" name="food" id="food" required>
        </div>
      </div>
      <div class="row-tab">
           <div class="label-tab">
        <label for="place">What is your favorite place to visit?</label>
      </div>
      <div class="input-tab">
        <input type="text" name="place" id="place" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="movie">What is your favorite movie?</label>
   </div>
   <div class="input-tab">
        <input type="text" name="movie" id="movie" required>
    </div>
   </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="book">What is your favorite book?</label>
   </div>
   <div class="input-tab">
        <input type="text" name="book" id="book" required>
    </div>
    </div>
    <div class="row-tab">
          <div class="label-tab">
        <label for="subject">What is your favorite subject, Math/science?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="subject" id="subject" required>
    </div>
    </div>
    <div class="row-tab">
          <div class="label-tab">
        <label for="actor">Who is your favorite kollywood/hollywood actor?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="actor" id="actor" required>
    </div>
    </div>
    <div class="row-tab">
          <div class="label-tab">
        <label for="color">What is your favorite Color?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="color" id="color" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="year">What is the best year of your life since 2010 to 2020?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="year" id="year" required>
    </div>
    </div>
    <div class="row-tab">
          <div class="label-tab">
        <label for="letter">What is your favo letter?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="letter" id="letter" required>
    </div>
    </div>
    <div class="row-tab">
          <div class="label-tab">
        <label for="vehicle">Cars/Bikes?</label>
     </div>
     <div class="input-tab">
        <input type="text" name="vehicle" id="vehicle" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="coffee">Tea/ Coffee?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="coffee" id="coffee" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="lang">What is your favo language (other than mother tongue) ?</label>
     </div>
     <div class="input-tab">
        <input type="text" name="lang" id="lang" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="band">What is your favo band?</label>
     </div>
     <div class="input-tab">
        <input type="text" name="band" id="band" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="genre">What is your favo genre in music?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="genre" id="genre" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="dessert">What is your favorite dessert?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="dessert" id="desseret" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="music">Who is your favorite Musician/Music Director?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="music" id="music" required>
    </div>
    </div>
    <div class="row-tab">
         <div class="label-tab">
        <label for="comedian">Who is your favorite Comedian?</label>
    </div>
    <div class="input-tab">
        <input type="text" name="comedian" id="comedian" required>
    </div>
    </div>
    <input type="submit"></input><br> 
</form>
</body>
</html>

